body {
    color: rgb(204, 204, 204);
    background-color: darkslategrey;
    font-family: 'Cormorant SC', serif;
}
h1 {
    color: cadetblue; background-color: beige;
    font-family: 'Cormorant SC', serif;
}
h2 {
    color: cadetblue; background-color: beige;
    font-family: 'Cormorant SC', serif;
}