body {
    color: rgb(58, 56, 56);
    background-color: rgb(183, 243, 243);
    font-family: 'Cormorant SC', serif;
}
h1 {
    color: rgb(2, 45, 100); background-color: rgb(54, 54, 53);
    font-family: 'Cormorant SC', serif;
}
h2 {
    color: rgb(2, 45, 100); background-color: rgb(54, 54, 53);
    font-family: 'Cormorant SC', serif;
}