body {
    color: rgb(0, 0, 0);
    background-color: rgb(183, 243, 243);
    font-family: 'Cormorant SC', serif;
}
h1 {
    color: rgb(143, 177, 223); background-color: rgb(0, 0, 0);
    font-family: 'Cormorant SC', serif;
}
h2 {
    color: rgb(143, 177, 223); background-color: rgb(0, 0, 0);
    font-family: 'Cormorant SC', serif;
}

nav {background-color: rgb(0, 0, 0);}

nav a {color: rgb(143, 177, 223);}
nav {color: rgb(143, 177, 223);}

nav a:hover {background-color: rgb(183, 243, 243);}
nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: black;
    }